server:
  port: ${PORT:8080}
  servlet:
    context-path: /api
spring:
  datasource:
    url: "jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3307}/${DB_NAME:toeic}?useUnicode=true&createDatabaseIfNotExist=true&useLegacyDatetimeCode=false&serverTimezone=UTC"
    username: "${DB_USERNAME:root}"
    password: "${DB_PASSWORD:123456}"
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  mail:
    host: "${MAIL_HOST:smtp.gmail.com}"
    port: "${MAIL_PORT:587}"
    username: "${MAIL_USERNAME:thienphong4455@gmail.com}"
    password: "${MAIL_PASSWORD:vdlj cwqn vmsx eecp}"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
jwt:
  secret: "${JWT_SECRET:872c871a1ab996919a3e97145ece2418bb837cadbd69387d96cd45eef831f239}"
  expiration: "${JWT_EXPIRATION:86400000}"
logging:
  file:
    name: log/toeicute/toeicute.log
  logback:
    rollingPolicy:
      max-history: 2
firebase:
  project-id: "${FIREBASE_PROJECT_ID:toeicmaster-246d2}"
  token-key: "${FIREBASE_TOKEN_KEY:firebase.json}"
  bucket-name: "${FIREBASE_BUCKET_NAME:toeicmaster-246d2.firebasestorage.app}"
