<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://thymeleaf.org ">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Toeicute</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"/>
</head>

<body>
<div style="
        font-family: Helvetica, Arial, sans-serif;
        min-width: 700px;
        overflow: auto;
        line-height: 2;
      ">
    <div style="margin: 50px auto; width: 600px; padding: 20px 0">
        <div style="border-bottom: 1px solid #eee">
            <a href="" style="
              font-size: 1.4em;
              color: #00466a;
              text-decoration: none;
              font-weight: 600;
            ">TOEICUTE</a>
        </div>
        <p style="font-size: 1.1em" th:text="|Hi, ${email}|"></p>
        <p>
            Chào mừng bạn đến với TOEICUTE.
        </p>
        <ul style="font-size: 0.8em;">
            <li>Bạn có thể sử dụng thông tin này để đăng nhập vào TOEICUTE hoặc đăng nhập bằng tài khoản
                [[${provider}]]
            </li>
            <li>Sau khi đăng nhập, bạn có thể thay đổi mật khẩu tùy thích.</li>
            <li>Chúng tôi khuyến khích bạn nên thay đổi mật khẩu để bảo mật tài khoản.</li>
        </ul>
        <p>Tài khoản để đăng nhập vào
            TOEICUTE của bạn là:</p>
        <table
                style="border-collapse: collapse; width: 100%; border: 1px solid #ddd; font-size: 14px; margin-bottom: 20px;">
            <tr style="border-bottom: 1px solid #ddd;">
                <td style="padding: 10px;">
                    <b>Tên đăng nhập:</b>
                </td>
                <td style="padding: 10px;">
                    <span th:text="|${email}|"></span>
                </td>
            </tr>
            <tr style="border-bottom: 1px solid #ddd;">
                <td style="padding: 10px;">
                    <b>Họ và tên:</b>
                </td>
                <td style="padding: 10px;">
                    <span th:text="|${fullName}|"></span>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;">
                    <b>Mật khẩu:</b>
                </td>
                <td style="padding: 10px;">
                    <span th:text="|${password}|"></span>
                </td>
            </tr>
        </table>
        <p>
            <b style="font-size: 1.2em">Link đăng nhập: </b>
            <a th:href="|${loginUrl}|" th:text="|${loginText}|"></a>
        </p>

        <p style="font-size: 0.9em">
            <br/><b>Không chuyển tiếp hoặc đưa email này cho bất kỳ ai.</b>
            <br/>
            <br/>
            Thân mến,
            <br/>
            <span class="fst-italic">Toeicute</span>
        </p>
        <hr style="border: none; border-top: 1px solid #eee"/>
        <div style="
            padding: 8px 0;
            color: #aaa;
            font-size: 0.8em;
            line-height: 1;
            font-weight: 300;
          ">
            <p>Email này không thể nhận được thư trả lời.</p>
        </div>
    </div>
</div>
</body>
</html>